name: Ssh action
on:
  workflow_dispatch:
  
jobs: 
  aws_cdk: 
    name: Build and deploy
    runs-on: ubuntu-latest
    environment: sohost
    steps:
    - name: executing remote ssh commands using ssh key
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        port: ${{ secrets.PORT }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: whoami
