name: Staging deploy
on:
  workflow_dispatch:

jobs: 
  aws_cdk: 
    name: Build and deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: test
        aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY }}
        aws-region: eu-west-2
